
<div class="text-center">
    <h4>Trabalho prático<br /> Equipas & Membros</h4>
    <h6>2023</h6>
    <img width="90%" src="~/der.jpg" />
</div>

<h7>
    Projeto Equimembros: ASP.NET Core MVC .NET6; está configurado e pronto a ser usado;
    falta configurar a string connection.
    O modelo de dados é mínimo e servirá para 'introduzir' o estudo desta plataforma.
    Usar a documentação indicada pelo formador para acompanhar as solicitações e
    as respetivas resoluções, envolvendo Helpers e Tag Helpers, 
    Entity Framework, C#, Linq e SQL, HTML e CSS.
</h7>
